.YellowIntroduction{
    display: flex;
    background-color: rgb(255, 255, 85);
    font-weight: bold;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    font-family: monospace;
}

.YellowIntroduction img{
    width: 30rem;
}

.YellowIntro p, .YellowIntro h2{
    color: rgb(255, 255, 85);
}

.YellowIntro{
    text-align: left;
    margin-right: 2rem;
}

.YellowIntro h1{
    font-size: 4.5rem;
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
}

.YellowIntro h2{
    margin-left: 10rem;
    margin: 0;
}

.YellowIntro p{
    font-size: large;
}

.YellowIntroduction > .YellowIntro > .YellowSub {
    font-size: 3rem;
}

.YellowIntroduction:hover {
    position: relative;
    right: 1rem;
    bottom: 1rem;
    offset: 1rem;
    box-shadow: rgb(129, 129, 6) 10px 10px;
    transition: all 0.3s ease;
}

.YellowIntroduction:hover > .YellowIntro p, .YellowIntroduction:hover > .YellowIntro h2{
    color: rgb(0, 0, 0) !important;
    transition: all 0.3s ease;
}

.YellowIntroduction img{
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
}

.YellowIntro{
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
}

.YellowIntroduction img{
    border-radius: 2rem;
}