.Introduction{
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    margin-top: 4rem;
    margin: 2rem;
    font-family: Righteous;
  }

  .Introduction span{
    margin: 1rem;
  }

  .Introduction h1, h2 {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  .FullIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0;
  }  

  .FullIntro :hover{
    position: relative;
    right: 1rem;
    bottom: 1rem;
    offset: 1rem;
    box-shadow: rgba(72, 255, 75, 0.68) 5px 5px, rgba(249, 255, 72, 0.68) 10px 10px, rgba(255, 170, 72, 0.68) 15px 15px, rgba(255, 72, 72, 0.68) 20px 20px;
    transition: all 0.3s ease;
}

.FullIntro h1, p, h2{
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
  }  
  
.Policy{
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 2rem;
    font-family: bolder;
    background-color: rgb(0, 153, 255);
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: rgba(241, 81, 81, 0.68) 5px 5px;
    margin: 2rem;
}

.Policy p{
    margin: 1rem;
    font-family: Anton;
}

.Policy h1{
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-family: Anton;
    display: flex;
    align-items: center;
}

.FullPolicy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0;
    width: 25rem;
  }  
 
.FullPolicy :hover{
    position: relative;
    right: 1rem;
    bottom: 1rem;
    offset: 1rem;
    box-shadow: rgba(241, 81, 81, 0.68) 10px 10px;
    transition: all 0.3s ease;
    color: red;
}

.Policy h1, p{
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
  }

.Message{
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 2rem;
    background-color: rgb(215, 215, 73);
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: rgba(241, 81, 81, 0.68) 5px 5px;
    font-family: monospace;
}

.Message h1{
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.RandomMess{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0;
    width: 30rem;
  }  
 
.RandomMess :hover{
    position: relative;
    right: 1rem;
    bottom: 1rem;
    offset: 1rem;
    box-shadow: rgba(241, 81, 81, 0.68) 10px 10px;
    transition: all 0.3s ease;
    color: red;
}

.Message h1, p{
    box-shadow: none !important;
    right: unset !important;
    bottom: unset !important;
  }

  .Start{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Start .Icon{
    right: unset !important;
    bottom: unset !important;
    box-shadow: none !important;
    margin: 0;
}