
.MoreInfo{
    font-family: Righteous;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.Owner{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Righteous;
    color: white;
    position: relative;
    top: -152rem;
    left: 72rem;
}

.Owner img{
    width: 50%;
    border-radius: 50%;
    border-style: dashed;
    border-width: .5rem;
    border-color: rgb(111, 147, 110);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.Owner h1{
    font-size: 3rem;
}

.Owner p{
    font-size: 3rem;
}

.Code{
    color: black;
    font-size: .3rem;
}


