.RedBody{
    background-image: url('/public/asset/img/Red-Module-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 4096px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
    padding-top: 3rem !important;
    padding-bottom: 10rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }

  .RedMessages{
    font-family: fantasy;
    font-weight: light;
    color: rgb(252, 83, 83);
    text-align: center;
    position: absolute;
    top: 300rem;
    align-self: center;
  }

  .RelatedTab{
     display: flex;
  }

  .RelatedTab{
    display: flex;
    justify-content: space-evenly;
  }