.FullItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Items{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.ItemsImage{
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 2rem;
    border-width: 0.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    cursor:pointer;
    border-style: double;
    border-color: black;
    border-width: .5rem;
}

.ItemsName{
    display: none;
    width: 30%;
    font-family: Big Shoulders Inline Text;
    font-weight: lighter;
    color: #fcc6ff;
    align-self: center;
    justify-self: center; 
    text-align: center;
    margin-top: -6.4rem;
    margin-right: 1rem;
    z-index: 1000;
    cursor:pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.Items:hover .ItemsName{
    display: block;
    align-self: center;
    justify-self: center;
    position: relative;
    bottom: 2rem;
    right: .5rem;
    transition: all 0.3s ease;
}


.Items:hover .ItemsImage{
    filter: brightness(50%);
    opacity: 70%;
    width: 80%;
    margin-bottom: 0;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.popup {
    position: absolute;
    top: 49%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    width: 455.750px;
    height: 600.588px;
    padding: 20px 20px 20px 13px;
    background-color: rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset, #faa4ff9d 0px 5px 15px;
    z-index: 9999; /* Ensure the popup appears above other elements */
  }
  
  .popup img {
    width: 100%;
    border-radius: 2rem;
    border-style: double;
    border-color: #faa4ff;
    border-width: .3rem;
  }
  
  .popup h1 {
    margin-top: 0;
    color: #faa4ff;
    font-family: Big Shoulders Inline Text;
    font-weight: light;
  }
  
  .popup .close {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    font-family: Big Shoulders Inline Text;
    font-weight: light;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.4rem;
    text-align: center;
    cursor: pointer;
  }

  .close:hover{
    background-color: #333;
    color: #faa4ff;
    transition: all .3s ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.317) 0px 8px 24px, rgba(17, 17, 26, 0.317) 0px 16px 56px, rgba(17, 17, 26, 0.317) 0px 24px 80px;
  }
  
  .popup .content {
    max-height: 200px;
    overflow: auto;
    font-family: Big Shoulders Inline Text;
    font-weight: light;
    color: #faa4ff;
    overflow: hidden;
  }