.BlueIntroduction{
    display: flex;
    background: linear-gradient(90deg, rgba(60,193,216,1) 31%, rgba(46,148,166,1) 31%, rgba(46,148,166,1) 68%, rgba(60,193,216,1) 68%);    font-family: Anton;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -10px 0px inset;
}

.BlueIntroL{
    text-align: left;
    margin-right: 2rem;
}

.BlueIntroR{
    text-align: right;
    margin-right: 2rem;
}

.BlueIntroduction h1{
    font-size: 4.5rem;
}

.BlueIntroduction h2, .BlueIntroduction p{
    color: rgb(60, 193, 216);
}

.BlueIntroR h1{
    color: white;
}

.BlueIntroduction img{
    border-radius: 2rem;
    width: 40%;
}

.BlueIntroduction:hover {
    position: relative;
    right: 1rem;
    bottom: 1rem;
    offset: 1rem;
    box-shadow: rgba(38, 123, 138, 0.815) 10px 10px,rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -10px 0px inset;
    transition: all 0.3s ease;
}

.BlueSubL, .BlueSubR{
    font-size: 2.5rem;
}


.BlueIntroduction:hover > .BlueIntroL p, .BlueIntroduction:hover> .BlueIntroL h2{
    color: rgb(0, 0, 0) !important;
    transition: all 0.3s ease;
}

.BlueIntroduction:hover > .BlueIntroR p, .BlueIntroduction:hover > .BlueIntroR h2 {
    color: rgb(255, 255, 255) !important;
    transition: all 0.3s ease;
}