.Nav ul{
    list-style: none;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    background-color: rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.Search input{
    margin-right: 0.5rem;
    border-radius: 1.6rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.Nav ul li a{
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 1.5rem;
    display: flex;
    width: 6rem;
    justify-content: center;
    padding: 1rem;
    display: flex;
}


.Search{
    display: flex;
}

.SearchIcon{
    width: 4rem;
    margin-right: 2rem;
}

.Home{
    color: White !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Righteous;
}

.Home:hover{
    cursor:pointer;
    background-color: aliceblue;
    color: black !important;
    border-radius: 2rem;
    transition: all 0.3s ease;
    box-shadow: rgba(72, 255, 75, 0.68) 5px 5px, rgba(249, 255, 72, 0.68) 10px 10px, rgba(255, 170, 72, 0.68) 15px 15px, rgba(255, 72, 72, 0.68) 20px 20px;
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
}

.Red{
    color: rgb(252, 83, 83) !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: fantasy;
    font-weight: lighter;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
}

.Red:hover{
    cursor:pointer;
    background-color: rgb(252, 83, 83);
    color: black !important;
    border-radius: 2rem;
    transition: all 0.3s ease;
    box-shadow: rgb(252, 83, 83, 0.4) 5px 5px, rgb(252, 83, 83, 0.3) 10px 10px, rgb(252, 83, 83, 0.2) 15px 15px, rgb(252, 83, 83, 0.1) 20px 20px, rgb(252, 83, 83, 0.05) 25px 25px;
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
}

.Yellow{
    color: rgb(255, 255, 85) !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
}

.Yellow:hover{
    cursor:pointer;
    background-color: rgb(255, 255, 85);
    color: black !important;
    border-radius: 2rem;
    transition: all 0.3s ease;
    box-shadow: rgb(255, 255, 85, 0.4) 5px 5px, rgb(255, 255, 85, 0.3) 10px 10px, rgb(255, 255, 85, 0.2) 15px 15px, rgb(255, 255, 85, 0.2) 20px 20px, rgb(255, 255, 85, 0.1) 25px 25px;
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
}

.Blue{
    color: rgb(72, 227, 255) !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-family: Anton;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
}

.Blue:hover{
    cursor:pointer;
    background-color: rgb(72, 227, 255);
    color: black !important;
    border-radius: 2rem;
    transition: all 0.3s ease;
    box-shadow: rgb(72, 227, 255, 0.4) 5px 5px, rgb(72, 227, 255, 0.3) 10px 10px, rgb(72, 227, 255, 0.2) 15px 15px, rgb(72, 227, 255, 0.1) 20px 20px, rgb(72, 227, 255, 0.05) 25px 25px;
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
}

.Icon{
    width: 7rem;
}