.AuthorsItems img{
    width: 50%;
    border-radius: 80%;
    border-style: dashed;
    border-width: 1rem;
    border-color: rgb(195, 195, 195);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.AuthorsItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.AuthorsItems p{
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.FullAuthorsList h1{
    text-align: center;
    font-family: Righteous;
    color: white;
    font-size: 5rem;
}

.AuthorsIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthorsIcon:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable img{
    width: 50%;
    border-radius: 80%;
    border-style: dashed;
    border-width: .5rem;
    border-color: rgb(195, 195, 195);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.FullHonor{
    margin-left: 2rem;
    margin-right: 2rem;
}

.Honorable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.FullHonor h2{
    text-align: center;
    font-family: Righteous;
    color: white;
    margin-top: 2rem;
}

.HonorableIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.HonorableIcon:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable p{
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.5rem;
    background-color: rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;

}

.SpecialThanks{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Righteous;
    color: white;
    position: relative;
    top: 100rem;
    right: 10rem;
}

.SpecialThanks img{
    width: 25%;
    border-radius: 50%;
    border-style: dashed;
    border-width: .5rem;
    border-color: rgb(220, 125, 227);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.SpecialThanks h1{
    font-size: 3rem;
}

.SpecialThanks p{
    font-size: 3rem;
}