.AuthorsItems img{
    width: 50%;
}

.AuthorsItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.AuthorsItems p{
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.548);
}

.FullAuthorsList h1{
    text-align: center;
    font-family: Righteous;
    color: white;
    font-size: 5rem;
}

.Me, .Chairbender, .Comfortor, .TE, .Sponsor, .Sis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Me:hover, .Chairbender:hover, .Comfortor:hover, .TE:hover, .Sponsor:hover, .Sis:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable img{
    width: 50%;
}

.FullHonor{
    margin-left: 2rem;
    margin-right: 2rem;
}

.Honorable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.FullHonor h2{
    text-align: center;
    font-family: Righteous;
    color: white;
    margin-top: 2rem;
}

.Rigby565, .Thinh-LE, .Tien-Dat, .Nhat-Truong, .Fokun, .Clown{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.Rigby565:hover, .Thinh-LE:hover, .Tien-Dat:hover, .Nhat-Truong:hover, .Fokun:hover, .Clown:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable p{
    text-align: center;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.5rem;
}

.SpecialThanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Righteous;
    color: white;
    margin-top: 95rem;
    margin-right: 60rem;
}

.SpecialThanks:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.SpecialThanks img{
    width: 50%;
}

.SpecialThanks h1{
    font-size: 3rem;
}

.SpecialThanks p{
    font-size: 3rem;
}