.AuthorsItems img{
    width: 50%;
}

.AuthorsItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.AuthorsItems p{
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.548);
}

.FullAuthorsList h1{
    text-align: center;
    font-family: Righteous;
    color: white;
    font-size: 5rem;
}

.AuthorsIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthorsIcon:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable img{
    width: 50%;
}

.FullHonor{
    margin-left: 2rem;
    margin-right: 2rem;
}

.Honorable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: Righteous;
    color: white;
}

.FullHonor h2{
    text-align: center;
    font-family: Righteous;
    color: white;
    margin-top: 2rem;
}

.HonorableIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.HonorableIcon:hover{
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: all 0.3s ease;
}

.Honorable p{
    text-align: center;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.5rem;
}

.SpecialThanks{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Righteous;
    color: white;
    position: relative;
    top: 100rem;
    right: 10rem;
}

.SpecialThanks img{
    width: 25%;
}

.SpecialThanks h1{
    font-size: 3rem;
}

.SpecialThanks p{
    font-size: 3rem;
}