.Random{
    width: 35%;
    filter: brightness(140%);
    margin-bottom: 7rem;
    margin-top: 7rem;
}

.Background{
    background-image: url("/public/asset/img/RandomBackground.JPG");
    background-size: cover;
    background-position: center;
}

.RandomLoading p{
    font-size: 2rem;
}
  
  .RandomLoading {
    height: 660.575px;
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: rgba(28, 28, 28, 0.986);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: Righteous;
    color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .Spin {
    animation: spin infinite 13s linear;
  }