.HomePage{
  display: flex;
  flex-direction: column;
}

  .Body{
    background-color: rgb(48, 48, 48);
    border-radius: 2rem;
    box-shadow:  rgba(44, 40, 40, 0.68) 5px 5px;
    padding-top: 3rem !important;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  
  body{
    background-color: black;
    background-image: url('/public/asset/img/Untitled58_20230523093713.png');
    background-position: center;
  }

  .AboutCategory{
    text-align: center;
    color: white;
    font-family: Righteous;
    font-size: 5rem;
  }

 









